{
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": "./tsconfig.json"
  },

  "env": {
    "browser": true,
    "node": true
  },

  "extends": [
    "airbnb-typescript/base",
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:react/recommended",
    "plugin:react-hooks/recommended",
    "plugin:import/typescript"
  ],

  "rules": {
    "import/extensions": "off",
    "import/prefer-default-export": "off",
    "@typescript-eslint/no-var-requires": "off"
  }
}