@mixin font-face($name) {
  @font-face {
    font-family: $name;
    src: url("/src/fonts/#{$name}.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
  }
}

@include font-face('ExpressWay-Regular');

$font-family--standard: ExpressWay-Regular;