@import 'src/globalStyles/index.scss';

body {
  background-color: $awesome-color;
  font-family: $font-family--standard;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  text-align: center;
}